[submodule "tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy

[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git

[submodule "bindings/toml"]
	path = codegen/toml
	url = https://github.com/uiri/toml.git
