---
---

@import "{{ site.theme }}";


section {
  #title {
    // Center and shrink emblem in title
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}
